<div>
  <h4>Requesting for Verses</h4>
  <p>
    Request for verses may be sent in any of the following format:
    <ul>
      <li><%= render "verse_first" %></li>
      <li><%= render "verse_second" %></li>
    </ul>
  </p>
</div>
