<div class = "chapter-nav">
	<div class = "prev-next-nav">
    <button id = "prevBtn">Previous Chapter</button>
		<span id = "prevSpan">Previous book chapter</span>
	</div>
  <div class = "prev-next-nav">
    <button id = "nextBtn">Next Chapter</button>
		<span id = "nextSpan">Next book chapter</span>
	</div>
</div>